<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/create-product" title="">Add User</a>
    <%
    	for(var i = 0; i < data.length; i++){
    %>
		<div style="float:left; width: 33%; border: 1px solid #ccc;">
			<h2><%= data[i].name%></h2>
			<strong><%= data[i].price%></strong>
			<p><%= data[i].detail%></p>
			<a href="/remove-product/<%=data[i].id%>">Remove</a>
		</div>
	<%}%>

  </body>
</html>
